<html>
<head>
<title>TestNG:  Default test</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>Default test</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>47/3/0</td>
</tr><tr>
<td>Started on:</td><td>Thu Jun 27 12:27:57 MST 2019</td>
</tr>
<tr><td>Total time:</td><td>2065 seconds (2065469 ms)</td>
</tr><tr>
<td>Included groups:</td><td></td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-failed'>
<tr><td colspan='4' align='center'><b>FAILED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='Illustrator.TestScenarios.TS09_IncomeBonusNoNaicStrongest()'><b>TS09_IncomeBonusNoNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td><div><pre>org.openqa.selenium.WebDriverException: unknown error: Element &lt;input type=&quot;button&quot; value=&quot;Next&quot; ng-disabled=&quot;!purchaseOver1M&quot; ng-class=&quot;{disabled : !purchaseOver1M}&quot; ng-click=&quot;ok(purchaseOver1M)&quot; class=&quot;btn btn-primary disabled&quot; disabled=&quot;disabled&quot;&gt; is not clickable at point (1024, 223). Other element would receive the click: &lt;div class=&quot;modal-footer ng-scope&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=75.0.3770.100)
  (Driver info: chromedriver=2.40.565498 (ea082db3280dd6843ebfb08a625e3eb905c4f5ab),platform=Windows NT 10.0.17134 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:25:48&apos;
System info: host: &apos;LOPEZVMOBILE&apos;, ip: &apos;192.168.180.2&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_211&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.40.565498 (ea082db3280dd6..., userDataDir: C:\Users\vlopez\AppData\Loc...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 75.0.3770.100, webStorageEnabled: true}
Session ID: 0159a299c458e980f0f99067e4869fb3
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at sun.reflect.GeneratedMethodAccessor2.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:51)
	at com.sun.proxy.$Proxy11.click(Unknown Source)
	at Illustrator.Illustration.clickNextContinueAlertOver1m(Illustration.java:135)
	at Illustrator.TestScenarios.TS09_IncomeBonusNoNaicStrongest(TestScenarios.java:608)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:124)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:583)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:719)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:989)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:125)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:648)
	at org.testng.TestRunner.run(TestRunner.java:505)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:455)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:450)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:415)
	at org.testng.SuiteRunner.run(SuiteRunner.java:364)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:84)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1208)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1137)
	at org.testng.TestNG.runSuites(TestNG.java:1049)
	at org.testng.TestNG.run(TestNG.java:1017)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div><a href='#' onClick='toggleBox("stack-trace870627780", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace870627780'><pre>org.openqa.selenium.WebDriverException: unknown error: Element &lt;input type=&quot;button&quot; value=&quot;Next&quot; ng-disabled=&quot;!purchaseOver1M&quot; ng-class=&quot;{disabled : !purchaseOver1M}&quot; ng-click=&quot;ok(purchaseOver1M)&quot; class=&quot;btn btn-primary disabled&quot; disabled=&quot;disabled&quot;&gt; is not clickable at point (1024, 223). Other element would receive the click: &lt;div class=&quot;modal-footer ng-scope&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=75.0.3770.100)
  (Driver info: chromedriver=2.40.565498 (ea082db3280dd6843ebfb08a625e3eb905c4f5ab),platform=Windows NT 10.0.17134 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:25:48&apos;
System info: host: &apos;LOPEZVMOBILE&apos;, ip: &apos;192.168.180.2&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_211&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.40.565498 (ea082db3280dd6..., userDataDir: C:\Users\vlopez\AppData\Loc...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 75.0.3770.100, webStorageEnabled: true}
Session ID: 0159a299c458e980f0f99067e4869fb3
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at sun.reflect.GeneratedMethodAccessor2.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:51)
	at com.sun.proxy.$Proxy11.click(Unknown Source)
	at Illustrator.Illustration.clickNextContinueAlertOver1m(Illustration.java:135)
	at Illustrator.TestScenarios.TS09_IncomeBonusNoNaicStrongest(TestScenarios.java:608)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:124)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:583)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:719)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:989)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:125)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:648)
	at org.testng.TestRunner.run(TestRunner.java:505)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:455)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:450)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:415)
	at org.testng.SuiteRunner.run(SuiteRunner.java:364)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:84)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1208)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1137)
	at org.testng.TestNG.runSuites(TestNG.java:1049)
	at org.testng.TestNG.run(TestNG.java:1017)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>4</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS25_IncomeNaicStrongest()'><b>TS25_IncomeNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td><div><pre>org.openqa.selenium.WebDriverException: unknown error: Element &lt;input type=&quot;button&quot; value=&quot;Next&quot; ng-disabled=&quot;!purchaseOver1M&quot; ng-class=&quot;{disabled : !purchaseOver1M}&quot; ng-click=&quot;ok(purchaseOver1M)&quot; class=&quot;btn btn-primary disabled&quot; disabled=&quot;disabled&quot;&gt; is not clickable at point (1024, 223). Other element would receive the click: &lt;div class=&quot;modal-footer ng-scope&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=75.0.3770.100)
  (Driver info: chromedriver=2.40.565498 (ea082db3280dd6843ebfb08a625e3eb905c4f5ab),platform=Windows NT 10.0.17134 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:25:48&apos;
System info: host: &apos;LOPEZVMOBILE&apos;, ip: &apos;192.168.180.2&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_211&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.40.565498 (ea082db3280dd6..., userDataDir: C:\Users\vlopez\AppData\Loc...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 75.0.3770.100, webStorageEnabled: true}
Session ID: 0159a299c458e980f0f99067e4869fb3
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at sun.reflect.GeneratedMethodAccessor2.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:51)
	at com.sun.proxy.$Proxy11.click(Unknown Source)
	at Illustrator.Illustration.clickNextContinueAlertOver1m(Illustration.java:135)
	at Illustrator.TestScenarios.TS25_IncomeNaicStrongest(TestScenarios.java:1626)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:124)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:583)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:719)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:989)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:125)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:648)
	at org.testng.TestRunner.run(TestRunner.java:505)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:455)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:450)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:415)
	at org.testng.SuiteRunner.run(SuiteRunner.java:364)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:84)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1208)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1137)
	at org.testng.TestNG.runSuites(TestNG.java:1049)
	at org.testng.TestNG.run(TestNG.java:1017)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div><a href='#' onClick='toggleBox("stack-trace2106997450", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace2106997450'><pre>org.openqa.selenium.WebDriverException: unknown error: Element &lt;input type=&quot;button&quot; value=&quot;Next&quot; ng-disabled=&quot;!purchaseOver1M&quot; ng-class=&quot;{disabled : !purchaseOver1M}&quot; ng-click=&quot;ok(purchaseOver1M)&quot; class=&quot;btn btn-primary disabled&quot; disabled=&quot;disabled&quot;&gt; is not clickable at point (1024, 223). Other element would receive the click: &lt;div class=&quot;modal-footer ng-scope&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=75.0.3770.100)
  (Driver info: chromedriver=2.40.565498 (ea082db3280dd6843ebfb08a625e3eb905c4f5ab),platform=Windows NT 10.0.17134 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:25:48&apos;
System info: host: &apos;LOPEZVMOBILE&apos;, ip: &apos;192.168.180.2&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_211&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.40.565498 (ea082db3280dd6..., userDataDir: C:\Users\vlopez\AppData\Loc...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 75.0.3770.100, webStorageEnabled: true}
Session ID: 0159a299c458e980f0f99067e4869fb3
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at sun.reflect.GeneratedMethodAccessor2.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:51)
	at com.sun.proxy.$Proxy11.click(Unknown Source)
	at Illustrator.Illustration.clickNextContinueAlertOver1m(Illustration.java:135)
	at Illustrator.TestScenarios.TS25_IncomeNaicStrongest(TestScenarios.java:1626)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:124)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:583)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:719)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:989)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:125)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:648)
	at org.testng.TestRunner.run(TestRunner.java:505)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:455)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:450)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:415)
	at org.testng.SuiteRunner.run(SuiteRunner.java:364)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:84)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1208)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1137)
	at org.testng.TestNG.runSuites(TestNG.java:1049)
	at org.testng.TestNG.run(TestNG.java:1017)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>5</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS47_IncomeMozaicIILevelAssumed()'><b>TS47_IncomeMozaicIILevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td><div><pre>org.openqa.selenium.WebDriverException: unknown error: Element &lt;input type=&quot;button&quot; value=&quot;Next&quot; ng-disabled=&quot;!purchaseOver1M&quot; ng-class=&quot;{disabled : !purchaseOver1M}&quot; ng-click=&quot;ok(purchaseOver1M)&quot; class=&quot;btn btn-primary disabled&quot; disabled=&quot;disabled&quot;&gt; is not clickable at point (1024, 220). Other element would receive the click: &lt;div class=&quot;modal-footer ng-scope&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=75.0.3770.100)
  (Driver info: chromedriver=2.40.565498 (ea082db3280dd6843ebfb08a625e3eb905c4f5ab),platform=Windows NT 10.0.17134 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:25:48&apos;
System info: host: &apos;LOPEZVMOBILE&apos;, ip: &apos;192.168.180.2&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_211&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.40.565498 (ea082db3280dd6..., userDataDir: C:\Users\vlopez\AppData\Loc...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 75.0.3770.100, webStorageEnabled: true}
Session ID: 0159a299c458e980f0f99067e4869fb3
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at sun.reflect.GeneratedMethodAccessor2.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:51)
	at com.sun.proxy.$Proxy11.click(Unknown Source)
	at Illustrator.Illustration.clickNextContinueAlertOver1m(Illustration.java:135)
	at Illustrator.TestScenarios.TS47_IncomeMozaicIILevelAssumed(TestScenarios.java:3083)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:124)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:583)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:719)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:989)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:125)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:648)
	at org.testng.TestRunner.run(TestRunner.java:505)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:455)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:450)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:415)
	at org.testng.SuiteRunner.run(SuiteRunner.java:364)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:84)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1208)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1137)
	at org.testng.TestNG.runSuites(TestNG.java:1049)
	at org.testng.TestNG.run(TestNG.java:1017)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div><a href='#' onClick='toggleBox("stack-trace784962518", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace784962518'><pre>org.openqa.selenium.WebDriverException: unknown error: Element &lt;input type=&quot;button&quot; value=&quot;Next&quot; ng-disabled=&quot;!purchaseOver1M&quot; ng-class=&quot;{disabled : !purchaseOver1M}&quot; ng-click=&quot;ok(purchaseOver1M)&quot; class=&quot;btn btn-primary disabled&quot; disabled=&quot;disabled&quot;&gt; is not clickable at point (1024, 220). Other element would receive the click: &lt;div class=&quot;modal-footer ng-scope&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=75.0.3770.100)
  (Driver info: chromedriver=2.40.565498 (ea082db3280dd6843ebfb08a625e3eb905c4f5ab),platform=Windows NT 10.0.17134 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:25:48&apos;
System info: host: &apos;LOPEZVMOBILE&apos;, ip: &apos;192.168.180.2&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_211&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, acceptSslCerts: false, applicationCacheEnabled: false, browserConnectionEnabled: false, browserName: chrome, chrome: {chromedriverVersion: 2.40.565498 (ea082db3280dd6..., userDataDir: C:\Users\vlopez\AppData\Loc...}, cssSelectorsEnabled: true, databaseEnabled: false, handlesAlerts: true, hasTouchScreen: false, javascriptEnabled: true, locationContextEnabled: true, mobileEmulationEnabled: false, nativeEvents: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, rotatable: false, setWindowRect: true, takesHeapSnapshot: true, takesScreenshot: true, unexpectedAlertBehaviour: , unhandledPromptBehavior: , version: 75.0.3770.100, webStorageEnabled: true}
Session ID: 0159a299c458e980f0f99067e4869fb3
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Constructor.newInstance(Unknown Source)
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:285)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:84)
	at sun.reflect.GeneratedMethodAccessor2.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.openqa.selenium.support.pagefactory.internal.LocatingElementHandler.invoke(LocatingElementHandler.java:51)
	at com.sun.proxy.$Proxy11.click(Unknown Source)
	at Illustrator.Illustration.clickNextContinueAlertOver1m(Illustration.java:135)
	at Illustrator.TestScenarios.TS47_IncomeMozaicIILevelAssumed(TestScenarios.java:3083)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:124)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:583)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:719)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:989)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:125)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:109)
	at org.testng.TestRunner.privateRun(TestRunner.java:648)
	at org.testng.TestRunner.run(TestRunner.java:505)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:455)
	at org.testng.SuiteRunner.runSequentially(SuiteRunner.java:450)
	at org.testng.SuiteRunner.privateRun(SuiteRunner.java:415)
	at org.testng.SuiteRunner.run(SuiteRunner.java:364)
	at org.testng.SuiteRunnerWorker.runSuite(SuiteRunnerWorker.java:52)
	at org.testng.SuiteRunnerWorker.run(SuiteRunnerWorker.java:84)
	at org.testng.TestNG.runSuitesSequentially(TestNG.java:1208)
	at org.testng.TestNG.runSuitesLocally(TestNG.java:1137)
	at org.testng.TestNG.runSuites(TestNG.java:1049)
	at org.testng.TestNG.run(TestNG.java:1017)
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:115)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:251)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:77)
</pre></div></td>
<td>5</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
</table><p>
<table width='100%' border='1' class='invocation-passed'>
<tr><td colspan='4' align='center'><b>PASSED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='Illustrator.TestScenarios.TS01_NoneNoNaicStrongest()'><b>TS01_NoneNoNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>43</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS02_NoneNoNaicLevelAssumed()'><b>TS02_NoneNoNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>34</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS03_NoneNoNaicVariableAssumed()'><b>TS03_NoneNoNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>35</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS04_NoneNoNaicLABackcasted()'><b>TS04_NoneNoNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>31</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS05_IncomeNoNaicStrongest()'><b>TS05_IncomeNoNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>41</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS06_IncomeNoNaicLevelAssumed()'><b>TS06_IncomeNoNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>42</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS07_IncomeNoNaicVariableAssumed()'><b>TS07_IncomeNoNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>40</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS08_IncomeNoNaicLABackcasted()'><b>TS08_IncomeNoNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>39</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS10_IncomeBonusNoNaicLevelAssumed()'><b>TS10_IncomeBonusNoNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>42</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS11_IncomeBonusNoNaicVariableAssumed()'><b>TS11_IncomeBonusNoNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>44</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS12_IncomeBonusNoNaicLABackcasted()'><b>TS12_IncomeBonusNoNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>44</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS13_EDBNoNaicStrongest()'><b>TS13_EDBNoNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>44</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS14_EDBNoNaicLevelAssumed()'><b>TS14_EDBNoNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>47</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS15_EDBNoNaicVariableAssumed()'><b>TS15_EDBNoNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>47</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS16_EDBNoNaicLABackcasted()'><b>TS16_EDBNoNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>47</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS17_EDBwBNoNaicStrongest()'><b>TS17_EDBwBNoNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>48</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS18_EDBwBNoNaicLevelAssumed()'><b>TS18_EDBwBNoNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>41</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS19_EDBwBNoNaicVariableAssumed()'><b>TS19_EDBwBNoNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>40</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS20_EDBwBNoNaicLABackcasted()'><b>TS20_EDBwBNoNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>40</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS21_NoneNaicStrongest()'><b>TS21_NoneNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>36</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS22_NoneNaicLevelAssumed()'><b>TS22_NoneNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>32</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS23_NoneNaicVariableAssumed()'><b>TS23_NoneNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>32</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS24_NoneNaicLABackcasted()'><b>TS24_NoneNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>33</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS26_IncomeNaicLevelAssumed()'><b>TS26_IncomeNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>42</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS27_IncomeNaicVariableAssumed()'><b>TS27_IncomeNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>40</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS28_IncomeNaicLABackcasted()'><b>TS28_IncomeNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>40</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS29_IncomeBonusNaicStrongest()'><b>TS29_IncomeBonusNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>39</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS30_IncomeBonusNaicLevelAssumed()'><b>TS30_IncomeBonusNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>45</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS31_IncomeBonusNaicVariableAssumed()'><b>TS31_IncomeBonusNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>44</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS32_IncomeBonusNaicLABackcasted()'><b>TS32_IncomeBonusNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>45</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS33_EDBNaicStrongest()'><b>TS33_EDBNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>45</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS34_EDBNaicLevelAssumed()'><b>TS34_EDBNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>49</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS35_EDBNaicVariableAssumed()'><b>TS35_EDBNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>52</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS36_EDBNaicLABackcasted()'><b>TS36_EDBNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>50</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS37_EDBwBNaicStrongest()'><b>TS37_EDBwBNaicStrongest</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>50</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS38_EDBwBNaicLevelAssumed()'><b>TS38_EDBwBNaicLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>42</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS39_EDBwBNaicVariableAssumed()'><b>TS39_EDBwBNaicVariableAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>41</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS40_EDBwBNaicLABackcasted()'><b>TS40_EDBwBNaicLABackcasted</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>41</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS46_NoneMozaicIILevelAssumed()'><b>TS46_NoneMozaicIILevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>39</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS48_IncomeBonusMozaicIILevelAssumed()'><b>TS48_IncomeBonusMozaicIILevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>46</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS49_EDBMozaicIILevelAssumed()'><b>TS49_EDBMozaicIILevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>50</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS50_EDBwBMozaicIILevelAssumed()'><b>TS50_EDBwBMozaicIILevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>41</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS51_NoneZebraLevelAssumed()'><b>TS51_NoneZebraLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>39</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS52_IncomeZebraLevelAssumed()'><b>TS52_IncomeZebraLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>40</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS53_IncomeBonusZebraLevelAssumed()'><b>TS53_IncomeBonusZebraLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>48</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS54_EDBZebraLevelAssumed()'><b>TS54_EDBZebraLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>50</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
<tr>
<td title='Illustrator.TestScenarios.TS55_EDBwBMozaLevelAssumed()'><b>TS55_EDBwBMozaLevelAssumed</b><br>Test class: Illustrator.TestScenarios</td>
<td></td>
<td>42</td>
<td>Illustrator.TestScenarios@4cc0edeb</td></tr>
</table><p>
</body>
</html>